GITHUB_ACCESS_TOKEN=GITHUB_TOKEN
GITHUB_INSTANCE_URL=https://github.com
AZURE_DEVOPS_INSTANCE_URL=https://dev.azure.com
ORGS_CSV=PATH_TO_CSV

# If you are using envoke this can
# be used to load from Bitwarden
# CTX_META=bw://CUST/CUST-orgs-csv#ORGS_CSV

